html, body {
    height: 100%;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    padding-top: 5px;
}

.full-page {
    height: 100vh;
    width: 100vw;
}

#customWeights {
  pointer-events: none;
  opacity: 0.4;
}
